[Desktop Entry]
Type=Application
Name=Gnome settings daemon
Comment=Manage Wacom settings via the GNOME settings daemon
Exec=gnome-settings-daemon
Icon=input-tablet
OnlyShowIn=XFCE;